// --- Variáveis Gruvbox ---
$bg0: #282828;
$bg1: #3c3836; // Ligeiramente mais claro para contraste
$bg2: #504945;
$fg: #ebdbb2;
$red: #fb4934;
$green: #98971a;
$deadyellow: #d79921;
$yellow: #fabd2f;
$blue: #83a598;
$purple: #d3869b;
$aqua: #8ec07c;
$orange: #fe8019;

* {
  all: unset;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
}

// Overlay transparente para detectar clique fora
.closer-overlay {
  background-color: rgba(0, 0, 0, 0); // Levemente escuro para dar foco
}

// Container principal do Player
.player-container {
  background-color: $bg0;

  border-radius: 0; // Boxy
  padding: 0;
  margin-bottom: 20px; // Espaço da borda inferior da tela
}

.album-art-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 2px solid $bg0;
  background-color: $bg1; // Cor de fundo se não houver capa
  border-radius: 0;
}

.music-info {
  padding: 15px 10px;
  background-color: $bg0;




  .song-title {
    color: $fg;
    font-size: 16px;
    font-weight: bold;



  }

  .song-artist {
    color: $aqua;
    font-size: 13px;
    margin-top: 5px;



  }




}



.progress-container {
  padding: 5px 20px;
  background-color: $bg0;

  .time-labels {
    color: $fg;
    font-size: 11px;
    margin-top: 5px;
  }
}

.progress-bar {
  background-color: transparent;

  trough {
    min-height: 8px;
    min-width: 10px;
    background-color: $bg2;
    border-radius: 0;
  }

  highlight {
    background-color: $orange;
    border-radius: 0;
  }

  slider {
    min-width: 12px;
    min-height: 12px;
    background-color: $fg; // Slider visível para facilitar arrastar
    border-radius: 0;
    margin: -2px 0;
  }
}

.controls {
  padding: 15px;
  background-color: $bg0;
}

.control-btn {
  font-size: 24px;
  color: $fg;
  padding: 5px 15px;
  background-color: transparent;
  border-radius: 0;
  transition: all 0.2s;

  &:hover {
    color: $yellow;
    background-color: $bg1;
  }

  &.play-pause {
    color: $orange;
    font-size: 32px;

    &:hover {
      color: $fg;
      background-color: $orange;
    }
  }
}



/* Opcional: Efeito visual no box .music-info */
.music-clickable:hover .song-title {
  color: $orange;
  transition: background-color 0.2s;
}

.volume-container {
  padding: 10px 20px 20px 20px;
  background-color: $bg0;

  label {
    color: $bg2;
  }
}

.volume-bar {
  background-color: transparent;

  trough {
    min-height: 6px;
    min-width: 200px; // Garante largura mínima
    background-color: $bg2;
    border-radius: 0;
  }

  highlight {
    background-color: $green;
    border-radius: 0;
  }

  slider {
    min-width: 10px;
    min-height: 10px;
    background-color: $fg;
    border-radius: 0;
    margin: -2px 0;
  }



}

