

$bg0: #282828;
$bg1: #282828;
$bg2: #3c3836;
$fg: #ebdbb2;
$red: #fb4934;
$green: #98971a;
$deadyellow: #d79921;
$yellow: #fabd2f;
$blue: #83a598;
$purple: #d3869b;
$aqua: #8ec07c;
$orange: #d79921;

* {
  all: unset;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
}



.player-container {
  background-color: $bg0;
  border: 1px solid $deadyellow;
  border-radius: 0;
  padding: 0;
}

.album-art-container {
  min-width: 250px;
  min-height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 0px 0px 0px;
  background-color: $bg1;
}

.music-info {
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: $bg1;

}

.song-title {
  color: $fg;
  font-size: 16px;
  font-weight: bold;
}

.song-artist {
  color: $aqua;
  font-size: 13px;
}

.progress-container {
  padding: 10px 15px;
  background-color: $bg0;

}

.progress-bar {
  min-height: 8px;
  background-color: $bg2;
  border-radius: 0;

  trough {
    min-height: 8px;
    background-color: $bg2;
    border-radius: 0;
  }

  highlight {
    background-color: $orange;
    border-radius: 0;
  }

  slider {
    min-width: 0;
    min-height: 0;
    background-color: transparent;
  }
}

.time-labels {
  color: $fg;
  font-size: 11px;
  margin-top: 3px;
}

.controls {
  padding: 15px;
  background-color: $bg0;

}

.control-btn {
  font-size: 24px;
  color: $fg;
  padding: 8px 15px;
  background-color: $bg1;
  border-radius: 0;
  transition: all 0.2s;

  &:hover {
    background-color: $bg2;
    color: $orange;
  }

  &.play-pause {
    background-color: $orange;
    color: $bg0;
    font-size: 28px;

    &:hover {
      background-color: $yellow;
    }
  }
}

.volume-container {
  padding: 10px 15px 15px 15px;
  background-color: $bg0;

  border-radius: 0 0 0px 0px;
}



.volume-bar {
  min-width: 220px;
  min-height: 0px;
  background-color: $bg2;
  border-radius: 0;

  trough {
    min-height: 6px;
    background-color: $bg2;
    border-radius: 0px;
  }

  highlight {
    background-color: $green;
    border-radius: 0;
  }

  slider {
    min-width: 0;
    min-height: 0;
    background-color: transparent;
  }
}
