@import 'color-palette-default';

$colorscheme: 'default';

$opacity: 'default';

$theme: 'default';

$compact: 'false';

$translucent: 'false';

$panel_opacity: 0.6;

$blackness: 'false';

$outline: 'false';

$window_button: 'normal';

$float: 'false';
