
style "toplevel_hack" {
  engine "adwaita" {}
}

style "chrome_entry" {
  base[NORMAL]      = @base_color
  base[INSENSITIVE] = @base_color
}

style "vim_notebook" {
  bg[NORMAL] = @base_color
  bg[ACTIVE] = @bg_color
}

widget "vim-main-window*GtkNotebook.GtkEventBox" style "vim_notebook"

class "SexySpellEntry" style:highest "normal_entry"

widget_class "*Chrom*<GtkEntry>" style "chrome_entry"

class "GtkWindow" style "toplevel_hack"
